header {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    height: 80px;
    background-color: #212121;
    padding: 0px 25px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

#top-icon {
    margin: 15px;
    margin: 10px;
    right: 15px;
    top: 1px;
    position: fixed;
    padding: 15px;
    color: white;
    font-size: 28px;
}

.button {
    display: flex;
    background-color: #5596f5;
    border: none;
    border-radius: 8px;
    color: white;
    height: 50px;
    width: 310px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    justify-content: center;
    cursor: pointer;
}

.button-text {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    margin-left: 5px;
    margin-right: 5px;
}

#cart-icon {
    font-size: 20px;
    margin-top: 2px;
}

.test {
    height: 50vh;
    justify-content: center;
    display: flex;
    align-items: flex-end;
}

.productContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.productPic {
    height: 30em;
    object-fit: contain;
}

.priceStyling {
    font-size: 1.5em;
}

.noInfo {
    margin-top: 3em;
}

.textContainer {
    height: 25vh;
    width: 100vw;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#icon {
    margin: 0;
    margin-right: 10px;
    padding-right: 3px;
    padding-top: 5px;
    font-size: 40px;
}

.text {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
}

.buttonContainer {
    height: 25vh;
    width: 100vw;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.finishButton {
    background-color: #5596f5;
    display: flex;
    border: none;
    border-radius: 8px;
    color: white;
    height: 48px;
    width: 237px;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    justify-content: center;
    cursor: pointer;
}

#check-icon {
    margin: 0;
    padding-right: 15px;
    padding-top: 2px;
    font-size: 20px;
    font-weight: bold;
}

.finishText {
    margin: 0;
}